<%= form_for(@article) do |f| %>
  <% if @article.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@article.errors.count, "error") %> prohibited this article from being saved:</h2>

      <ul>
      <% @article.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <table cellpadding="5" style="width:100%">
    <tr>
      <td>
          <label><%= f.label :title %></label>
      </td>
      <td>
        <%= @article.title %>
      </td>
    </tr>
    <tr>
      <td>
          <label><%= f.label :journal %></label>
      </td>
      <td>
        <%= @article.journal %><br>
      </td>
    </tr>
    <tr>
      <td>
          <label><%= f.label :Year %></label>
      </td>
      <td>
        <%= @article.year %><br>
      </td>
      <td>
          <label><%= f.label :month %></label>
      </td>
      <td>
        <%= @article.month %><br>
      </td>
    </tr>
    <tr>
      <td>
          <label><%= f.label :Volume %></label>
      </td>
      <td>
        <%= @article.volume %><br>
      </td>
      <td>
          <label>Issue&nbsp;<%= f.label :number %></label>
      </td>
      <td>
        <%= @article.number %><br>
      </td>
    </tr>
            <tr>
      <td>
          <label><%= f.label :pages %></label>
      </td>
      <td>
        <%= @article.pages %><br>
      </td>
      <td>
          <label>DOI</label>
      </td>
      <td>
        <%= @article.doi %><br>
      </td>
    </tr>
    <tr>
      </table>
      
      <h2>Research Design</h2>
      <table>
      <td>
        <label><%= f.label :research_questions %></label>
      </td>
      <td>
        <%= f.text_area :research_questions, "cols" => 40, "rows" => 5%><br>
      </td>
    </tr>
    <tr>
      <td>
        <label><%= f.label :research_metrics %></label>
      </td>
      <td>
        <%= f.text_field :research_metrics %><br>
      </td>
    </tr>
  </table>
  
    <div class="field">
    <legend>Research Method</legend>
    <% @research_methods.each do |research_method| %>
      <div class="checkbox">
        <label>
          <% @is_check = false %>
          <% @article.research_methods.each do |article_research_method| %>
            <% if article_research_method.name == research_method.name%>
              <% @is_check = true%>
              <% break %>
            <% end %> 
          <% end %>
          <%= check_box_tag 'article[research_method_ids][]', research_method.id, @is_check%>
          <%= research_method.name %>
        </label>
      </div>
    <% end %>
    <legend>Research Participant</legend>
    <% @research_participants.each do |research_participant| %>
      <div class="checkbox">
        <label>
          <% @is_check = false %>
          <% @article.research_participants.each do |article_research_participant| %>
            <% if article_research_participant.name == research_participant.name%>
              <% @is_check = true%>
              <% break %>
            <% end %>
          <% end %>
          <%= check_box_tag 'article[research_participant_ids][]', research_participant.id, @is_check%>
          <%= research_participant.name %>
        </label>
      </div>
    <% end %>
    
    <legend>Evidence Item</legend>
    <!--label><%= f.label :benefit %></label-->
    <p> benefit </p> 
    <input type="text" name="benefit"><br>
    <p> context </p> 
    <input type="text" name="context"><br>
    <p> confidence rating </p> 
    <input type="text" name="confidence_rating"><br>
    <p> method implementation integrity </p> 
    <input type="text" name="method_integrity"><br>
  
  
  
    <legend>Method</legend>
    <% @dev_methods.each do |dev_method| %>
      <div class="checkbox">
        <label>
          <% @is_check = false %>
          <% @article.dev_methods.each do |article_dev_method| %>
            <% if article_dev_method.name == dev_method.name%>
              <% @is_check = true%>
              <% break %>
            <% end %>
          <% end %>
          <%= check_box_tag 'article[dev_method_ids][]', dev_method.id, @is_check%>
          <%= dev_method.name %>
        </label>
      </div>
    <% end %>
    
    <legend>Methodology</legend>
    <% @methodologies.each do |methodology| %>
      <div class="checkbox">
        <label>
          <% @is_check = false %>
          <% @article.methodologies.each do |article_methodology| %>
            <% if article_methodology.name == methodology.name%>
              <% @is_check = true%>
              <% break %>
            <% end %>
          <% end %>
          <%= check_box_tag 'article[methodology_ids][]', methodology.id, @is_check%>
          <%= methodology.name %>
        </label>
      </div>
    <% end %>


  </div>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
