<%= form_for(@article) do |f| %>
  <% if @article.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@article.errors.count, "error") %> prohibited this article from being saved:</h2>

      <ul>
      <% @article.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %><br>
    <%= f.label :journal %>
    <%= f.text_field :journal %><br>
    <%= f.label :year %>
    <%= f.text_field :year %><br>
    <%= f.label :volume %>
    <%= f.text_field :volume %><br>
    <%= f.label :number %>
    <%= f.text_field :number %><br>
    <%= f.label :month %>
    <%= f.text_field :month %><br>
  </div>
  <div class="actions">
    <%= link_to "update", @article, :method => :update, :confirm => "You sure?",
    :title => "update #{@article.title}" %>
    <%= f.submit %>
  </div>
<% end %>
