<%= form_for(@article) do |f| %>
  <% if @article.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@article.errors.count, "error") %> prohibited this article from being saved:</h2>

      <ul>
      <% @article.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <table class="bib">
    <tr>
      <th><label><%= f.label :title %></label></th>
      <td><%= @article.title %></td>
      </tr>
    <tr>
      <th><label><%= f.label :journal %></label></th>
      <td>
        <%= @article.journal %><br>
      </td>
    </tr>
    <tr>
      <th><label><%= f.label :Year %></label></th>
      <td><%= @article.year %><br></td>
    </tr>
    <tr><th><label><%= f.label :month %></label></th>
          <td><%= @article.month %></td>
    </tr>
    <tr>
      <th><label><%= f.label :Volume %></label></th>
      <td><%= @article.volume %>
            <label>Issue&nbsp;<%= f.label :number %></label>
        <%= @article.number %>
        <label><%= f.label :pages %></label>
        <%= @article.pages %>
        </td>
    </tr>
            <tr>
      <th>
          <label>DOI</label>
      </th>
      <td>
        <%= @article.doi %><br>
      </td>
    </tr>
    <tr>
      </table>

  
<div class="form-style-5">
<form>
<fieldset>
<legend><span class="number">1</span> Research Design</legend>
        <label><%= f.label :research_questions %></label>
        <%= f.text_area :research_questions, "cols" => 40, "rows" => 5%><br>
        <label><%= f.label :research_metrics %></label>
        <%= f.text_field :research_metrics %><br>
          <div class="field">

  <label>Research Method</label>
  <ul id = "limheight">
    <% @research_methods.each do |research_method| %>
      <div class="checkbox">
        <label>
          <% @is_check = false %>
          <% @article.research_methods.each_slice(3) do | batch | %>
            <% batch.each do |article_research_method| %>
              <% if article_research_method.name == research_method.name%>
                <% @is_check = true%>
                <% break %>
              <% end %> 
            <% end %>
          <% end %>  
          <%= check_box_tag 'article[research_method_ids][]', research_method.id, @is_check%>
          <%= research_method.name %></li>
        </label>
      </div>
    <% end %>
    </ul>
    
    <label>Research Participant</label>
    <ul id = "limheight">
    <% @research_participants.each do |research_participant| %>
      <div class="checkbox">
        <label>
          <% @is_check = false %>
          <% @article.research_participants.each do |article_research_participant| %>
            <% if article_research_participant.name == research_participant.name%>
              <% @is_check = true%>
              <% break %>
            <% end %>
          <% end %>
          <%= check_box_tag 'article[research_participant_ids][]', research_participant.id, @is_check%>
          <%= research_participant.name %>
        </label>
      </div>
    <% end %>
    </ul>
</fieldset>

<fieldset>
<legend><span class="number">2</span>Method</legend>
<ul id = "limheight">
<% @dev_methods.each do |dev_method| %>
      <div class="checkbox">
        <label>
          <% @is_check = false %>
          <% @article.dev_methods.each do |article_dev_method| %>
            <% if article_dev_method.name == dev_method.name%>
              <% @is_check = true%>
              <% break %>
            <% end %>
          <% end %>
          <%= check_box_tag 'article[dev_method_ids][]', dev_method.id, @is_check%>
          <%= dev_method.name %>
        </label>
      </div>
    <% end %>
    </ul>
</fieldset>


<fieldset>
  <legend>
    <span class="number">3</span>Methodology
  </legend>
  <ul id = "limheight">
      <% @methodologies.each do |methodology| %>
      <div class="checkbox">
        <label>
          <% @is_check = false %>
          <% @article.methodologies.each do |article_methodology| %>
            <% if article_methodology.name == methodology.name%>
              <% @is_check = true%>
              <% break %>
            <% end %>
          <% end %>
          <%= check_box_tag 'article[methodology_ids][]', methodology.id, @is_check%>
          <%= methodology.name %>
        </label>
      </div>
    <% end %>
    </ul>
</fieldset>

<fieldset>
<legend><span class="number">4</span> Evidence Item</legend>
        <label><%= f.label :benefit %></label>
        <%= f.text_area :benefit, "cols" => 40, "rows" => 5%><br>
        <label><%= f.label :context %></label>
        <%= f.text_field :context, "cols" => 40, "rows" => 5%><br>
        <label><%= f.label :result %></label>
        <%= f.text_field :result, "cols" => 40, "rows" => 5%><br>
          </fieldset>

</form>

 <div class="actions button">
   <input type="submit" name="commit" value="Update Article" />
    <a href="<%=articles_path %>" class="button">Back to All Articles</a>
    
  </div>
  
<% end %>
</div>

      
      
  
  
    
    
  </div>


 
