

  
<p id="notice"><%= notice %></p>

<h1 id="head">PENDING ARTICLES</h1>

<table id="hor-minimalist-a">
  <thead>
    <tr>
      <th>Title</th>
      <th>Journal</th>
      <th>Year</th>
      <th>Volume</th>
      <th>Number</th>
      <th>Month</th>
      <th>Pages</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @articles.each do |article| %>
      <tr>
        <td><%= article.title %></td>
        <td><%= article.journal %></td>
        <td><%= article.year %></td>
        <td><%= article.volume %></td>
        <td><%= article.number %></td>
        <td><%= article.month %></td>
        <td><%= article.pages %></td>
        <!--td><%= link_to 'Show', article %></td-->
        <td><%= link_to 'Edit', edit_article_path(article) %></td>
        <!--td><%= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' } %></td-->
      </tr>
    <% end %>
  </tbody>
</table>
