<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @article.title %>
  <strong>journal:</strong>
  <%= @article.journal %>
  <strong>year:</strong>
  <%= @article.year %>
  <strong>volume:</strong>
  <%= @article.volume %>
  <strong>number:</strong>
  <%= @article.number %>
  <strong>month:</strong>
  <%= @article.month %>
  <strong>pages:</strong>
  <%= @article.pages %>
  <strong>isbn:</strong>
  <%= @article.isbn %>
</p>

<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Back', articles_path %>
