<h1>Article View</h1>
    
    <h3>Hi moderator, please review the following articles</h3>
    
    <table id="mainTable" >
      <thead >
        <tr id="mainTableHeader">
          <th class="tableHeader" onclick=" sort_table(mainTableBody, 1, asc1); asc1 *= -1; asc2 = 1; asc3 = 1; ">Article title <span class="grey"><i id="columSort0" class="fa fa-sort"></i></span></th>
           <th class="tableHeader" onclick=" sort_table(mainTableBody, 2, asc1); asc1 *= -1; asc2 = 1; asc3 = 1; ">Article type <span class="grey"><i id="columSort1" class="fa fa-sort"></i></span></th>
            <th class="tableHeader" onclick=" sort_table(mainTableBody, 3, asc1); asc1 *= -1; asc2 = 1; asc3 = 1; ">Article status <span class="grey"><i id="columSort2" class="fa fa-sort"></i></span></th>
           <th class="tableHeader" onclick=" sort_table(mainTableBody, 4, asc1); asc1 *= -1; asc2 = 1; asc3 = 1; ">Last modified <span class="grey"><i id="columSort3" class="fa fa-sort"></i></span></th>
        </tr>
      </thead>
    
      <tbody id="mainTableBody">
        <% @ArticleList.each do |article| %>
          <tr>
              <td style="display:none;"><%= article.article_id %></td>
            <td><%= article.article_title %></td>
             <td ><%= article.type_name %></td>
             <td class="statusName"><%= article.status_name %></td>
             <td><%= article.updated_time %></td>
             <td><button><%= link_to "View Details",article_detail_path(articleId: article.article_id), :class => "btn", :remote => true, :onclick => "viewDetail('#{article.article_id}',mainTableBody  );return false;" %></button></td>
             <!-- <td><button><%= link_to "Accept", article_quality_check_path(articleId: article.article_id, isAccepted: true), :class => "btn" %></button></td> -->
             <!-- <td><button><%= link_to "Reject", article_quality_check_path(articleId: article.article_id ), :class => "btn" %></button></td> -->
             <td style="display:none;"><%= article.journal %></td>
             <td style="display:none;"><%= article.year %></td>
             <td style="display:none;"><%= article.month %></td>
             <td style="display:none;"><%= article.volume %></td>
             <td style="display:none;"><%= article.number %></td>
             <td style="display:none;"><%= article.pages %></td>
             <td style="display:none;"><%= article.isbn %></td>
             <td style="display:none;"><%= article.doi %></td>
             <td style="display:none;"><%= article.url %></td>
             <td style="display:none;"><%= article.keyword %></td>
             <td style="display:none;"><%= article.abstract %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    
    
    <!-- The Modal -->
    <div id="myModal" class="modal fade col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-8 col-sn-offset-2 col-xs-10 col-xs-offset-1" >
    
      <!-- Modal content -->
      <div class="modal-content">
          
       <div class="modal-header">
              <span class="close" data-dismiss="modal">×</span>
              <h1 id="modalHeader"></h1>
            </div>
        
            <div class="modal-body">
              <table border="0" >
                  
                
                  <tbody >
                      <tr>
                          <td class="modalDetailTitle" >Journal</td> <td class="modalDetailTitleText" id="journal"></td>
                      </tr>
                      <tr>
                          <td class="modalDetailTitle" >Year</td> <td class="modalDetailTitleText" id="year"></td>
                      </tr>
                       <tr>
                          <td class="modalDetailTitle" >Month</td> <td class="modalDetailTitleText" id="month"></td>
                      </tr>
                      <tr>
                          <td class="modalDetailTitle" >Volume</td> <td class="modalDetailTitleText" id="volume"></td>
                      </tr>
                      <tr>
                          <td class="modalDetailTitle" >Number</td> <td class="modalDetailTitleText" id="number"></td>
                      </tr>
                       <tr>
                          <td class="modalDetailTitle" >Pages</td> <td class="modalDetailTitleText" id="pages"></td>
                      </tr>
                      <tr>
                          <td class="modalDetailTitle" >Article type</td> <td class="modalDetailTitleText" id="articleType"></td>
                      </tr>
                      <tr>
                          <td class="modalDetailTitle" >Isbn</td> <td class="modalDetailTitleText" id="isbn"></td>
                      </tr>
                       <tr>
                          <td class="modalDetailTitle" >Doi</td> <td class="modalDetailTitleText" id="doi"></td>
                      </tr>
                      <tr>
                          <td class="modalDetailTitle" >Url</td> <td class="modalDetailTitleText" id="url"></td>
                      </tr>
                      <tr>
                          <td class="modalDetailTitle" >Keywords</td> <td class="modalDetailTitleText" id="keyword"></td>
                      </tr>
                       <tr>
                          <td class="modalDetailTitle" >Abstract</td> <td class="modalDetailTitleText" id="abstract"></td>
                      </tr>
                  </tbody>
                </table>
            </div>
        
            <div class="modal-footer">
                <button><%= link_to "Accept", "", :onclick => "articleQualityCheck(selectedArticleId,'#{true}');return false;" , :class => "btn" %></button>
                 <button><%= link_to "Reject", "", :onclick => "articleQualityCheck(selectedArticleId,'#{false}');return false;" ,:class => "btn" %></button>
               <button data-dismiss="modal"><%= link_to "Cancel","", :class => "btn" %></button>
            </div>
        
       
        
      </div>
    
    </div>




<script  type="text/javascript">
    
        var asc1 = 1,
            asc2 = 1,
            asc3 = 1;
    // Get the modal
        var modal = document.getElementById('myModal');
        
        var selectedArticleId;

        // Get the button that opens the modal
        //var btn = document.getElementById("myBtn");
        
        // Get the <span> element that closes the modal
        var span = document.getElementsByClassName("close")[0];
        
        
        // When the user clicks anywhere outside of the modal, close it
       window.onclick = function(event) {
           if(event.toElement.className.toLowerCase() == 'modal-backdrop fade in'){
               $('#myModal').modal('hide');
           }
        }
        
        
    function viewDetail (id, tbody){
        
           var rows = tbody.rows,
                rlen = rows.length,
                i, selectedRow, cLen; 
            // fill the array with values from the table
            for (i = 0; i < rlen; i++) {
                if(rows[i].cells[0].innerHTML == id.toString()){
                    selectedRow = rows[i].cells;
                    clen = rows[i].cells.length;
                }
            }
           $('#modalHeader').text(selectedRow[1].innerHTML);
           $('#journal').text(selectedRow[6].innerHTML);
           $('#year').text(selectedRow[7].innerHTML);
           $('#volume').text(selectedRow[8].innerHTML);
           $('#number').text(selectedRow[9].innerHTML);
           $('#month').text(selectedRow[10].innerHTML);
           $('#pages').text(selectedRow[11].innerHTML);
           $('#isbn').text(selectedRow[12].innerHTML);
           
           if(selectedRow[13].innerHTML.toLowerCase().indexOf("http") >= 0 || selectedRow[13].innerHTML.toLowerCase().indexOf("https") >= 0){
               var link = $('<a>', {href: selectedRow[13].innerHTML });
                link.text(selectedRow[13].innerHTML);
                
                $('#doi').text('').append(link);
           }else{
                $('#doi').text(selectedRow[13].innerHTML);
           }
          
          if(selectedRow[14].innerHTML.toLowerCase().indexOf("http") >= 0 || selectedRow[14].innerHTML.toLowerCase().indexOf("https") >= 0){
               var link = $('<a>', {href: selectedRow[14].innerHTML });
                link.text(selectedRow[14].innerHTML);
                
                $('#url').text('').append(link);
           }else{
                $('#url').text(selectedRow[14].innerHTML);
           }
           
           $('#keyword').text(selectedRow[15].innerHTML);
           $('#abstract').text(selectedRow[16].innerHTML);
           $('#articleType').text(selectedRow[2].innerHTML);
                
            selectedArticleId = id;
            
            $('#myModal').modal('show');
        
    }
    
    function articleQualityCheck (id,condition){
    
        if (condition == "true"){
              $.ajax({
                        url: '/admin/article_quality_check',
                        type: 'get',
                        data: {articleId: id, isAccepted: true},
                        contentType: 'json'
                      });
            
        }else{
              $.ajax({
                        url: '/admin/article_quality_check',
                        type: 'get',
                        data: {articleId: id},
                        contentType: 'json'
                      });
        }
     
        
        location.reload();    
                      
    }
       
    function sort_table(tbody, col, asc) {
        var rows = tbody.rows,
                rlen = rows.length,
                arr = new Array(),
                i, j, cells, clen;
            // fill the array with values from the table
            for (i = 0; i < rlen; i++) {
                cells = rows[i].cells;
                clen = cells.length;
                arr[i] = new Array();
                for (j = 0; j < clen; j++) {
                    arr[i][j] = cells[j].innerHTML;
                }
            }
            
            // sort the array by the specified column number (col) and order (asc)
            arr.sort(function (a, b) {
                return (a[col] == b[col]) ? 0 : ((a[col] > b[col]) ? asc : -1 * asc);
            });
            
            // replace existing rows with new rows created from the sorted array
            for (i = 0; i < rlen; i++) {
                
                var inner;
                
                for (j = 0; j < clen; j++) {
                    
                    if (j == 0 || j > 7){
                        
                        if (j == 0){
                            inner = '<td style="display:none;">' + arr[i][j] + '</td>';
                        }else{
                            inner = inner + '<td style="display:none;">' + arr[i][j] + '</td>';
                        }
                        
                    }else{
                        
                        if (j == 3){
                            inner = inner + '<td class="statusName">' + arr[i][j] + '</td>';
                        }else{
                            inner = inner + '<td>' + arr[i][j] + '</td>';
                        }
                        
                    }
                    
                } 
                rows[i].innerHTML = inner;
            }
            
            table_sort_direction(col, asc);
            changeColor();
        }
    
    
    function table_sort_direction(col, direction) {
        
        var headerCount = $('#mainTableHeader')[0].cells.length;
         var i;
        for (i = 0; i <= headerCount; i++) {
            
            if(i == (col - 1)){
                if (direction == 1 ){
                    $('#columSort'+ i.toString()).attr('class', 'fa fa-sort-asc');
                }else{
                    $('#columSort'+ i.toString()).attr('class', 'fa fa-sort-desc');
                }
            }else{
                $('#columSort'+ i.toString()).attr('class', 'fa fa-sort');
            }   
        } 
    }
    
  
    changeColor();
       
    function changeColor(){
            $('.statusName').each(function() {
            var value = $(this).text();
           
          if(value.toLowerCase() == "rejected"){
                $(this)[0].style.color = 'red';
           }else if(value.toLowerCase() == "accepted"){
               $(this)[0].style.color = 'green';
           }else{
                  $(this)[0].style.color = 'orange';
           }
           
        });
    }

    $(document).ready(function(){
       
       
    });

    
</script>

<style>
    table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.modalDetailTitle{
    width: 20%;
    font-weight: bold;
}

.modalDetailTitleText{
    width: 80%;
}

.tableHeader{
    cursor: pointer;
}


</style>
