<%= form_for(@user) do |f| %>
    <% if @user.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

          <ul>
            <% @user.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.label :first_name %>
      <%= f.text_field :first_name %><br>
      <%= f.label :middle_name %>
      <%= f.text_field :middle_name %><br>
      <%= f.label :last_name %>
      <%= f.text_field :last_name %><br>
      <%= f.label :email %>
      <%= f.text_field :email %><br>
      <%= f.label :gender %>
      <%= f.select :gender, %w{Male Female}, :prompt => 'Select', required: true, placeholder: 'Gender', class: 'form-control' %><br>
      <%= f.label :dob %>
      <%= f.date_select :dob, {start_year: 100.years.ago.year, end_year: Date.today.year, default: Date.today}%><br>
      <%= f.label :affiliation %>
      <%= f.text_field :affiliation %><br>
      <%= f.label :password %>
      <%= f.password_field :password %><br>
      <%= f.label :password_confirmation%>
      <%= f.password_field :password_confirmation %>

    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
