<%= form_for @search_query, html: {class: "form-inline"} do |f| %>
    <% if @search_query.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@search_query.errors.count, "error") %> prohibited this search_query from being saved:</h2>

          <ul>
            <% @search_query.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.label :description %>
      <%= f.text_field( :description, :class => "something" ) %>
    </div>

    <%= f.fields_for :search_lines do |builder| %>
      <%= render 'search_queries/search_line', f: builder %>
    <% end %>
    <%= link_to_add_search_line "", f, :search_lines %>

    <div class="actions">
      <%= f.submit "sub", class: "btn btn-primary"  %>
    </div>
<% end %>
