
<%= form_for @search_query, :html => { :id => "search_form", :target=>'_blank' } do |f| %>
  <% if @search_query.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@search_query.errors.count, "error") %> prohibited this search_query from being saved:</h2>
      <ul>
        <% @search_query.errors.full_messages.each do |message| %>
            <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <!-- <div class="row" style="padding-top: 10px;">
    <div class="field col-md-12">
      <%= f.label :description %>
      <%= f.text_field :description, {class: 'form-control'} %>
    </div>
  </div> -->

  <div class="row" style="padding-top: 20px; margin-bottom: 20px;">
    <div class="form-inline col-md-12">
      <div class="form-group" style="margin-right: 10px;">
        <div>
          <label>From Year</label>
        </div>
        <!--<div class="col-md-6" style="padding: 0">-->
          <div class='input-group date' id='fromYear'>
            <!--<input type='text' class="form-control" />-->
            <%= f.text_field :from_date, {class: 'form-control input-fromYear '}  %>
            <span class="input-group-addon">
              <span class="glyphicon glyphicon-calendar">
              </span>
            </span>
          </div>
        <!--</div>-->
      </div>
      <div class="form-group">
        <div>
          <label>To Year</label>
        </div>
        <!--<div class="col-md-6" style="padding: 0">-->
          <div class='input-group date' id='toYear'>
            <!--<input type='text' class="form-control" />-->
            <%= f.text_field :to_date, {class: 'form-control input-toYear'} %>
            <span class="input-group-addon">
              <span class="glyphicon glyphicon-calendar">
              </span>
            </span>
          </div>
        <!--</div>-->
      </div>
    </div>
  </div>

  <%= f.fields_for :search_lines do |builder| %>
    <%= render 'search_queries/search_line', f: builder %>
  <% end %>

  <div class="row" style="padding-bottom: 10px;">
    <div class="col-md-12">
      <%= link_to_add_search_line "", f, :search_lines %>
      <%= f.submit :'Start Search', {class: 'btn btn-primary search_button'} %>
    </div>
  </div>

<% end %>

<script type="text/javascript">
  $(document).ready(function () {
    // Date picker
    $('#fromYear').datetimepicker({
      // defaultDate: "1/1/1990",
      viewMode: 'years',
      format: 'YYYY'
    });
    $('#toYear').datetimepicker({
      // defaultDate: new Date(),
      viewMode: 'years',
      format: 'YYYY'
    });
    $('#fromYear').keydown(function(e) {
      e.preventDefault();
      return false;
    });

    $('#fromYear').mousedown(function(e) {
       e.preventDefault();
       e.stopImmediatePropagation();
       return false;
    });
    $('#toYear').mousedown(function(e) {
       e.preventDefault();
       e.stopImmediatePropagation();
       return false;
    });

    $("#fromYear").disabled = true;

    $('#toYear').keydown(function(e) {
      e.preventDefault();
      return false;
    });

    $('.search_button').click(function () {

      var fromYear = $('.input-fromYear').val();
      var toYear = $('.input-toYear').val();

      if (fromYear>toYear){
        alert('To Year cannot smaller than From Year');
        $('.input-fromYear').css("background-color", "yellow");
        return false;
      }
    });


    $('.input-group-addon').click(function(){
      $('.input-fromYear').css("background-color", "transparent");
    });


  })
</script>
