<%= form_for @search_query do |f| %>
    <% if @search_query.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@search_query.errors.count, "error") %> prohibited this search_query from being saved:</h2>

          <ul>
            <% @search_query.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.label :description %>
      <%= f.text_field :description %>
    </div>

    <div class="field">
      <%= f.label :from_date %>
      <%= f.select :from_date, 2000..2020 %>
    </div>

    <div class="field">
      <%= f.label :to_date %>
      <%= f.select :to_date, 2000..2020 %>
    </div>

    <%= f.fields_for :search_lines do |builder| %>
      <%= render 'search_queries/search_line', f: builder %>
    <% end %>
    <%= link_to_add_search_line "", f, :search_lines %>

    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
