<fieldset class="well">
  <!--<hr style="border-top: 1px solid blue;">-->
  <div class="container">

    <div class="field join_condition row">
      <div class="col-md-3">
        <%= f.label :condition %>
        <%= f.select :join_condition, options_for_select(@join_conditions.collect { |join_condition|
          [join_condition.name.titleize, join_condition.id] }, 0), {}, {:class => 'form-control'} %>
      </div>
    </div>

    <div class="search_line row">
      <div class="field col-md-3">
        <%= f.label :search_in %>
        <%= f.select :field_id, options_for_select(@search_fields.collect { |search_field|
          [search_field.name.titleize, search_field.id] }, 0), {}, { class: 'search_field form-control' } %>
      </div>

      <div class="field col-md-3">
        <%= f.label :limitation %>
        <%= f.select :operator, options_for_select(@operators.collect { |operator|
          [operator.name.titleize, operator.id] }, 0), {}, { class: 'operator form-control' } %>
      </div>

      <div class="field fixed_value col-md-3">
        <%= f.label :search_term %>
        <%= f.select :value_id, options_for_select(@field_values.collect { |field_value|
          [field_value.name.titleize, field_value.id] }, 0), {}, {class: 'search_field_value form-control'} %>
      </div>

      <div class="field text_value col-md-3">
        <%= f.label :search_term %>
        <%= f.text_field :value_text, {class: 'form-control'} %>
      </div>

      <div class="field number_value col-md-3">
        <%= f.label :search_term %>
        <%= f.number_field :value_number, {value: 1, min: 1, class: 'form-control'} %>
      </div>

      <div class="col-md-3">
        <br>
        <%= f.hidden_field :_destroy %>
        <%= link_to "", class: "remove_fields" do %>
        <span><i class="fa fa-minus-circle fa-2x" style="padding-top: 7px;" aria-hidden="true"></i></span>
        <% end %>
      </div>

    </div>
  </div><!--end container-->
</fieldset>

<script type="text/javascript">
  $(document).ready(function () {
    $(".join_condition").each(function(index) {
      if(index == 0){
        $(this).toggle(false);
      }
    });
    $(".remove_fields").each(function(index) {
      if(index == 0){
        $(this).toggle(false);
      }
    });
    $(".search_field").each(function(index) {
      if(index == $(".search_field").length - 1){
        $(this).val(1);
      }
    });
    $(".fixed_value").each(function(index) {
      var search_field_select = $(this).find(".search_field_value");
      var length = search_field_select.children('option').length;
      if(length == 0){
        $(this).toggle(false);
      }
    });
    $(".text_value").each(function(index) {
      if(index == $(".number_value").length - 1){
        $(this).toggle(false);
      }
    });
    $(".number_value").each(function(index) {
      if(index == $(".number_value").length - 1){
        $(this).toggle(false);
      }
    });
    $(".search_field").change(function () {
      var search_line = $(this).parents(".search_line");

      var select_value = search_line.find(".fixed_value");
      var text_value = search_line.find(".text_value");
      var number_value = search_line.find(".number_value");


      var search_field_value = search_line.find(".field").find(".search_field_value");
      var operator_field_value = search_line.find(".field").find(".operator");

      var index = Number($(this).val());
      $.getJSON('/search_queries/update_values', { field_id: $(this).val() }, function (data, textStatus, jqXHR) {
        console.log("Load value OK: " + jqXHR.responseText);
        search_field_value.empty();
        operator_field_value.empty();
        $.each(data.values, function (i, object) {
          search_field_value.append($('<option>').attr('value', object.id).text(object.name));
        });
        $.each(data.operators, function (i, object) {
          operator_field_value.append($('<option>').attr('value', object.id).text(object.name));
        });
      }). error(function (jqXHR, textStatus, errorThrown) {
        console.log("AJAX Error: " + jqXHR.responseText);
      });
      number_value.find('.form-control').val(1);
      text_value.find('.form-control').val('a');
      switch (index) {
        case 0:
          search_field_value.empty();
          operator_field_value.empty();
          break;
        case 1:
        case 2:
        case 3:
        case 4:
          select_value.toggle(true);
          text_value.toggle(false);
          number_value.toggle(false);
          break;
        case 10:
        case 11:
          select_value.toggle(false);
          text_value.toggle(false);
          number_value.toggle(true);
          break;
        default:
          select_value.toggle(false);
          text_value.toggle(true);
          number_value.toggle(false);
          text_value.find('.form-control').val('');
          break;
      }
    });
  })
</script>