<style>
  /*.table td.fit,*/
  .table th {
    white-space: nowrap;
    /*width: 1%;*/
  }
</style>

<p id="notice"><%= notice %></p>

<h1>Browse Repository</h1>

<br>
<div class="container">
<div class="row">
  <div class="col-lg-12">
    <div class="row table_box">
      <div class="col-md-6">
        <form action="/search_queries" class="search-form" method="get">
	          	<label class="pull-left">Quick Filter</label>
	            <input class=" col-md-6 global_filter form-control " id="global_filter" type="text">
<!--           <%= link_to 'Advance Search', new_search_query_path, {class: 'btn btn-success'} %>
 -->        </form>
      </div>
      <div class="col-md-6">
        <div class="column-view">
          <label style="font-weight:bold;">Filter: </label>
          <label><input type="checkbox" class="check-head" value="1" name="author" checked="checked"><span>Author</span></label>
          <label><input type="checkbox" class="check-head" value="1" name="year" checked="checked"><span>Year</span></label>
          <label><input type="checkbox" class="check-head" value="1" name="journal"><span>Journal</span></label>
          <label><input type="checkbox" class="check-head" value="1" name="volume"><span>Volume</span></label>
          <label><input type="checkbox" class="check-head" value="1" name="issues"><span>Issues</span></label>
          <label><input type="checkbox" class="check-head" value="1" name="pages"><span>Pages</span></label>
          <label><input type="checkbox" class="check-head" value="1" name="doi"><span>DOI</span></label>
          <label><input type="checkbox" class="check-head" value="1" name="url"><span>URL</span></label>
          <label><input type="checkbox" class="check-head" value="1" name="keywords"><span>Keywords</span></label>
          <label><input type="checkbox" class="check-head" value="1" name="methodology"><span>Methodology</span></label>
          <label><input type="checkbox" class="check-head" value="1" name="method"><span>Method</span></label>
          <label><input type="checkbox" class="check-head" value="1" name="research_method"><span>Research Method</span></label>
          <label><input type="checkbox" class="check-head" value="1" name="participant"><span>Participant</span></label>

        </div>
      </div>
    </div>
    <div class="table-responsive">
      <table class="table table-striped" id="result-table">
        <thead>
        <tr>
          <th id="col0" class="title">Title <span class="grey"><i class="fa fa-sort"></i></span></th>
          <th id="col1" class="author">Author <span class="grey"><i class="fa fa-sort"></i></span></th>
          <th id="col2" class="year">Year <span class="grey"><i class="fa fa-sort"></i></span></th>
          <th id="col3" class="journal">Journal <span class="grey"><i class="fa fa-sort"></i></span></th>
          <th id="col4" class="volume">Volume <span class="grey"><i class="fa fa-sort"></i></span></th>
          <th id="col5" class="issues">Issues <span class="grey"><i class="fa fa-sort"></i></span></th>
          <th id="col6" class="pages">Pages <span class="grey"><i class="fa fa-sort"></i></span></th>
          <th id="col7" class="doi">DOI <span class="grey"><i class="fa fa-sort"></i></span></th>
          <th id="col8" class="url">URL <span class="grey"><i class="fa fa-sort"></i></span></th>
          <th id="col9" class="keywords">Keywords <span class="grey"><i class="fa fa-sort"></i></span></th>
          <th id="col11" class="methodology">Methodologies <span class="grey"><i class="fa fa-sort"></i></span></th>
          <th id="col12" class="method">Methods <span class="grey"><i class="fa fa-sort"></i></span></th>
          <th id="col13" class="research_method">Research Methods <span class="grey"><i class="fa fa-sort"></i></span></th>
          <th id="col14" class="participant">Participants <span class="grey"><i class="fa fa-sort"></i></span></th>
        </tr>
        </thead>
        <tbody>
        <% @articles.each do |article| %>
            <tr>
              <td class="title"><a href="<%= article.url %>" class="tooltips" title="<%= article.title %>"><b><%= article.title %></b></a></td>
              <td class="author"><%= article.articles_authors.map { |articles_author| articles_author.author.full_name}.join(', ') %></td>
              <td class="year"><%= article.year %></td>
              <td class="journal"><%= article.journal %></td>
              <td class="volume"><%= article.volume %></td>
              <td class="issues"><%= article.number %></td>
              <td class="pages"><%= article.pages %></td>
              <td class="doi"><%= article.doi %></td>
              <td class="url"><%= article.url %></td>
              <td class="keywords"><%= article.keyword %></td>
              <td class="methodology"><%= article.articles_methodologies.map { |articles_methodology| articles_methodology.methodology.name}.join(', ') %>  </td>
              <td class="method"><%= article.articles_dev_methods.map { |articles_dev_method| articles_dev_method.dev_method.name}.join(', ') %></td>
              <td class="research_method"><%= article.articles_research_methods.map { |articles_research_method| articles_research_method.research_method.name}.join(', ') %></td>
              <td class="participant"><%= article.articles_research_participants.map { |articles_research_participant| articles_research_participant.research_participant.name}.join(', ') %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
</div>


<script type="text/javascript">
  $(document).ready(function(){

    $(".tooltips").tooltip({placement: 'top'});

    $(".check-head:checkbox:not(:checked)").each(function(){
      var col = "table ." + $(this).attr("name");
      $(col).hide();
    });

    $(".check-head:checkbox").click(function(){
      var col = "table ." + $(this).attr("name");
      $(col).toggle();
    });

    var table = $('#result-table').DataTable({
      paging: false,
      retrieve: true,
      dom: '<"bottom">p'
    });

    $('#result-table').on('order.dt', function () {
      var order = table.order();
      var col = order[0][0];
      var orderType = order[0][1];
      var span = $('#col' + col).find('#result-table span'); // selected span
      var i = $('#col' + col).find('i'); // selected i
      $('#result-table span').attr('class', 'grey'); // set all span to grey
      $('#result-table thead i').attr('class', 'fa fa-sort'); // reset all sort icon
      span.attr('class', 'orange'); // set selected span to orange
      i.attr('class', 'fa fa-sort-' + orderType);
    });

    $(".search-form").submit(function(e) {
      if($.trim($('#quick_search').val()) == ''){
        $("#quick_search").css("border", "2px solid red");
        $(".mandatory").css("display", "block");
        e.preventDefault();
        return false;
      }
    });
  });
</script>







<script type = "text/javascript">

// $(document).ready( function () {
  $('#result-table').DataTable({
    "sDom": '<"top"i><"clear"rtlp>'
  } );
 
    $('input.global_filter').on( 'keyup click', function () {
        filterGlobal();
    });
 
    // $('input.column_filter').on( 'keyup click', function () {
    //     filterColumn( $(this).parents('tr').attr('data-column') );
    // } );

function filterGlobal () {
    $('#result-table').DataTable().search(
        $('#global_filter').val()
    ).draw();
}
// } );
</script>
