<p id="notice"><%= notice %></p>

<h1>Listing Search Queries</h1>

<table class="table table-condensed">
  <thead>
    <tr>
      <th>ID</th>
      <th>Title</th>
      <th>Authors</th>
      <th>Year</th>
    </tr>
  </thead>

  <tbody>
    <% @articles.each do |article| %>
      <tr>
        <td>
          <%= article.id %>
        </td>
        <td>
          <%= article.title %>
        </td>
        <td>
          <%= article.articles_authors.map { |articles_author| articles_author.author.full_name}.join(', ') %>
        </td>
        <td>
          <%= article.year %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Search query', new_search_query_path %>
